.book-link {
  text-decoration: none;
  color: inherit;
  display: block;
}
.book-card {
  border: 1px solid #ddd;
  padding: 16px;
  text-align: center;
  border-radius: 8px;
  background-color: #fff;
  height: 100%;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
  margin: 16px 0; /* top and bottom spacing only */
}



.book-card:hover {
  transform: scale(1.01); /* very slight zoom */
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.08); /* softer shadow */
}


.book-image {
  width: 100%;
  max-height: 180px;
  object-fit: contain;
}

.book-title {
  font-size: 16px;
  margin: 10px 0 5px;
}

.book-subtitle {
  font-size: 14px;
  color: #555;
  margin-bottom: 10px;
}

.book-price {
  font-weight: bold;
  color: green;
}
