.toolbar-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #FFE619;
  padding: 20px 15%;
}

.logo {
  font-size: 1.8rem;
  font-weight: bold;
}

.icon-links {
  display: flex;
  gap: 20px;
}

.icon-link {
  color: #191817;
  font-size: 1.5rem;
  text-decoration: none;
}

.icon-link:hover {
  color: #555;
}

.d-none {
  display: none;
}

.d-xl-inline {
  display: none;
}

.d-xl-none {
  display: inline;
}

/* For XL and up */
@media (min-width: 1200px) {
  .d-xl-inline {
    display: inline !important;
    font-size: 1rem;
    font-weight: 500;
  }

  .d-xl-none {
    display: none !important;
  }
}
